<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.workouttracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExecuteActivities.ExecuteExercise"></activity>
        <activity android:name=".ExecuteActivities.ExecuteDay" />
        <activity android:name=".ExecuteActivities.ExecuteRoutine" />
        <activity android:name=".InputActivities.ExerciseInput" />
        <activity android:name=".InputActivities.DayEditCreate" />
        <activity android:name=".InputActivities.RoutineEditCreate" />
        <activity android:name=".History" />
        <activity android:name=".Stats" />
        <activity android:name=".InputActivities.SelectEdit" />
        <activity android:name=".ExecuteActivities.Execute" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>